body {
    /*background-image: url("../image/background.png");*/
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-family: shift;
}

@font-face {
    font-family: "shift";
    src: url("../css/fonts/a_avantecpslcbrk-bold_allfont_ru.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "shift";
    src: url("../css/fonts/a_avantecpslcbrk-light_uk_allfont_net.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "shift";
    src: url("../css/fonts/ds-note_allfont_ru.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}


.row {
    margin: 0;
}

p {
    margin: 0;
}

.head1 {
    color: white;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    /*margin: 20px 0;*/
    margin: 30px 0px;
    width: 100%;
}

.text1 {
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

.main_button {
    margin: 25px 0px;
    padding: 5px 50px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    /*border: 1px solid rgba(0, 0, 0, .5);*/
    border: none;
    border-radius: 7px;
    font-weight: 400;
    font-size: 25px;
}

@media screen and (max-width: 380px) {
    .main_button {
        padding: 5px 20px;
    }
}

.main_button:hover {
    background-color: rgba(0, 0, 0, .7);
}

.ans1 {
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    /*background-color: rgb(73, 73, 73);*/
    background-color: rgba(0, 0, 0, .5);
    margin: 3px 0;
    width: 100%;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
}

.ans1:hover {
    transition: .5s;
    /*background-color: rgb(100, 100, 100);*/
    /*font-size: 23px;*/
    background-color: rgba(0, 0, 0, .7);
}

.quest1 {
    /*padding: 10px;*/
    color: white;
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}

.ans_checkbox {
    width: 20px;
    height: 20px;
    /*background-color: white;*/
}

.divcheckbox {
    text-align: left;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    /*text-align: left;*/
    font-weight: 500;
    background-color: rgb(73, 73, 73);
    margin: 3px 0;
    width: 100%;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
}

#div_timer {
    border-radius: 5px;
    border: 3px solid rgb(59, 59, 59);
    color: white;
    padding: 7px 0;
    font-weight: 500;
}

#timeline {
    background-color: rgb(68, 68, 68);
    width: 0px;
    position: absolute;
    height: 44px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

#ptimer {
    border-radius: 5px;
    border: 3px solid rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 7px 0;
    text-align: center;
    font-weight: 500;
}

button:active, button:focus {
    outline: none;
}

.border_black {
    width: 100%;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
    background: none;
    padding: 5px 5px;
    font-weight: 500;
    margin: 5px 0;
}