{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-11 col-md-11 col-lg-11 col-xl-10">
            <div class="row justify-content-center" style="margin-top: 10%" id="div_block_quest">
                <div class="col-12 p-0 mb-3 mb-sm-5">
                    <p class="quest1" id="id_questions"></p>
                </div>
                <div class="col-12 p-0 text-center align-items-center" id="id_answers">
                    {#                    <button class="ans1" data-res="">answer 1</button>#}
                </div>
            </div>
            <div class="row align-items-center mt-3 mt-sm-5" style="position: relative;display:none"
                 id="div_block_timer">
                <div id="timeline"></div>
                <div class="col-8 col-sm-10 col-md-10 col-lg-10 col-xl-10" id="div_timer">
                    <div class="row justify-content-between">
                        <div class="px-2" id="quest_counter"></div>
                        <div class="px-2" id="level_number"></div>
                    </div>
                </div>
                <div class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-2 pr-0">
                    <p class="" id="ptimer">00:00</p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center" id="div_result"
                 style="display: none;margin-top: 10%">
                <div class="col-12 p-0 mb-3 mb-sm-5">
                    <p class="quest1 my-5 text-center" style="font-size: 40px" id="label_result">Результат</p>
                    <p class="quest1" id="id_result">

                        Результаты теста показали, что вы близки к сфере материальных интересов. Люди этого направления
                        обычно проявляют склонность к работе, связанной с обработкой и систематизацией информации,
                        представленные в виде условных знаков, цифр, форм, текстов (ведение документации, установление
                        количественных отношений). (Экономист, секретарь, бухгалтер, редактор, переводчик, лингвист,
                        топограф).
                    </p>
                </div>
                <div class="col-12 text-center">
                    <a href="{% url 'Start_test' %}" style="text-decoration: none">
                        <button class="main_button mt-0">Начать заново</button>
                    </a>
                    <button class="main_button mt-0" data-toggle="modal" data-target="#modal_save_file">Сохранить
                    </button>
                </div>
            </div>

        </div>
    </div>


    <div class="modal fade" id="modal_save_file" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Введите свои данные</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" class="border_black" placeholder="Имя" id="user_name">
                    <input type="text" class="border_black" placeholder="Фамилия" id="user_surname">
                    <input type="text" class="border_black" placeholder="Отчество" id="user_patr">
                    {#                    <textarea name="{{ book.slug }}" id="comment_text" rows="5"#}
                    {#                              class="border_brown text_reg1 w-100 px-2 py-1"></textarea>#}
                </div>
                <div class="modal-footer">
                    <button class="main_button mt-0" id="save_result" data-conc="" data-time="">Сохранить</button>
                    <button class="main_button mt-0" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}